src/main/mule/sample2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9cc525e4-3b24-4a8c-a40a-d796ba0998a5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample2Flow" doc:id="fab30b52-9bfb-4c72-b920-4576b1d68147" >
		<http:listener doc:name="Listener" doc:id="c93f219a-747e-4e98-9375-193f04509376" config-ref="HTTP_Listener_config" path="/demo2"/>
		<ee:transform doc:name="Transform Message" doc:id="10ca9497-98a3-4df9-bd21-dca58399237a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "hello world"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="13648469-1bfd-4cf2-8056-299ecdf06ccb" message="#[payload]"/>
	</flow>
</mule>
